<main>
    <div class="showProduct">
        {{this.title}}
        <img src="/images/Book.jpeg" />
        <span class="mediumFont">Price: Rs {{this.price}} </span>
        <br />
        <span class="mediumFont">{{this.description}}</span>
    </div>
</main>