<main>
    <form action="/admin/add-product" method="POST">
        <div>
            <label for="title">Title</label>
            <br/>
            <input class="inputbox" type="text" id="title" name="title">
        </div>
        <div>
            <label for="price">Price</label>
            <br/>
            <input class="inputbox" type="number" id="price" name="price">
        </div>
        <div>
            <label for="description">Description</label>
            <br/>
            <textarea class="inputbox" id="description" name="description"></textarea>
        </div>
        <button class="submitbutton" type="submit">Add Product</button>
    </form>
</main>